/* Sidebar styling */
.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #0f9f4b;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.sidebar h2 {
    padding: 20px;
    margin: 0;
    text-align: center;
    background-color: #2e7406;
    font-size: 24px;
}

.sidebar a {
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
}

.sidebar a:hover {
    background-color: #1abc9c;
}